@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
    margin: 0;
    font-family: "Oswald";
    background-color: antiquewhite;
    overflow-x: hidden;
}
header{
    width: 100%;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main ul{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
nav {
    text-align: center;
    background-color: black;
    padding: 30px;
    margin-bottom: 50px;
}
nav a {
    font-size: 24px;
    margin: 10px;
    color: white;
    text-decoration: none;
}
.news-img{
    height: 250px;
    width: 300px;
    object-fit: cover;
    margin: 10px;
}
.card{
    display: flex;
    border: 1px solid black;
    flex-direction: row;
    width: 70%;
    font-size: 22px;
    margin-bottom: 30px;
}
.more-btn{
    background-color: transparent;
    border: 0;
    border-left: 1px solid black;
    font-family: "Oswald";
    font-size: 18px;
    margin-left: 20px;
}
.more-btn:hover{
    background-color: black;
    color: white;
}
.aboutbtn{
    font-size: 30px;
    font-weight: 700;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 10px;
}
.aboutbtn:hover{
    background-color: black;
    color: white;
}
footer{
    margin-top: 220px;
    padding: 40px;
    position: absolute;
    background-color: black;
    color: white;
    width: 100%;
}
* {box-sizing:border-box}
@media (max-width: 375px) {
    html{
        font-size: 0.7rem;
      }
      nav a{
        font-size: 1.5rem;
      }
      main{
          display: block;
          align-content: center;
          justify-content: center;
          float: none;
      }
      .card{
        flex-direction: column;
        width: 300px;
        height: 600px;
    }
    .news-img{
        width: 280px;
    }
    .infoText{
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 1.6rem;
    }
    .more-btn{
        border-top: 1px solid black;
        border-left: 0;
        margin-left: 0;
        margin-top: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .aboutbtn{
        font-size: 1.8rem;
    }
    footer{
        margin-top: 40px;
    }
    .history{
        display: flex;
        flex-direction: column;
    }
    .historyText{
        font-size: 1.5rem;
        max-width: 250px;
    }
    .historyImg{
        height: 30rem;
        width: 27rem;

    }
}